/* ------------------------------- global ------------------------------- */

/* -------------------- base -------------------- */

.global__body{
	display: grid;
	grid-template-areas: "header header header header"
						 "none1  nav    main   none2"
						 "footer footer footer footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr auto auto 1fr;

	margin: 0;
	padding: 0;

	min-height: 100vh;

	font-family: Roboto, sans-serif;

	background-color: #cccccc;
}

a{
	color: #1a231d;
}

/* -------------------- header -------------------- */

.global__header{
	grid-area: header;

	display: flex;

	justify-content: center;

	border-bottom: 1px solid #666666;
}
.global__header-inner{
	display: flex;

	align-items: center;

	width: 1200px;
}
.global__header-inner a{
	color: #2e2e2e;
}
.global__header-logo{
	width: 100px;
	height: 100px;

	padding: 5px 15px 5px 0;
}
.global__header-title{
	font-size: 2em;
}

/* -------------------- nav -------------------- */

.global__nav{
	grid-area: nav;

	width: 200px;

	margin: 30px 15px 30px 0;
}
.global__nav-inner{
	height: auto;

	padding: 5px 20px;

	border-radius: 15px;

	border: 1px solid #666666;
}
.global__nav-title{
	border-bottom: 1px solid #000000;
}
.global__nav-list{
	list-style: none;

	padding-left: 0;
}
.global__nav-list-item{
	padding: 5px 10px;
}
.global__nav-list-item:hover{
	background-color: #80C8A0;
}
.global__nav-list-item.active{
	background-color: #dddddd;
}
.global__nav-list-item-link{
	text-decoration: none;
}

/* -------------------- main -------------------- */

.global__main{
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;

	grid-area: main;

	width: 1000px;

	padding: 20px 0 10px;
}

/* -------------------- section -------------------- */

.global__section{
	margin: 10px 0 10px 15px;
	padding: 2px 20px;

	border-radius: 20px;

	background-color: #ffffff;
	border: 1px solid #666666;
}

.global__section.flex{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.global__section.inner{
	margin-left: 0;
}

.global__section.hover:hover{
	background-color: #e0e0e0;
}

.global__section.s-mc{
	height: min-content;
}

.global__section.s-1{
	width: 100%;
}

.global__section.s-2{
	width: 44.3%;
}
.global__section.s-2-1{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.global__section.s-2-2{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.global__section.s-3{
	width: 27.6%;
}
.global__section.s-3-1{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.global__section.s-3-2{
	border-radius: 0;
}
.global__section.s-3-3{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.global__section.s-4t{
	width: 30%;
}

.global__section img{
	width: 100%;

	margin: 10px 0;

	border: 1px solid #aaaaaa;
}

/* -------------------- footer -------------------- */

.global__footer{
	grid-area: footer;

	border-top: 1px solid #666666;
}
.global__footer-info{
	text-align: center;
}
